body
{
     font-family: 'PPNeueMontreal_Book';
}.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}
.owl-item.active .pro-slider-img-wrap::after {
    content: '';
    width: 1px;
    height: 300px;
    background: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    right: -31%;
    z-index: 9;
    top: 0px;
}
.default-back.listing-back {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    color: rgba(139, 139, 139, 0.8);
    line-height: 27px;
    text-decoration: none;
    display: block;
    margin-bottom: 14px;
}
.default-back.listing-back img
{
    padding-right: 8px;
}
.pro-list-slider h1 {
    font-family: 'PPNeueMontreal_Medium';
    font-weight: 500;
    font-size: 95px;
    line-height: 151px;
    color: #333333;
}
.pro-slider-top{
    padding-top: 59px;
}
.pro-slider-img {
    margin-bottom: 6px;
}
.pro-slider-img-wrap h2,
.pro-slider-img-wrap h2 a {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    font-family: 'PPNeueMontreal_Book';
    text-decoration: none;
}
.pro-slider-img-wrap img {
    max-height: 167px;
}
.pro-slider-img-wrap {
    min-height: 221px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.listing-slider-wrap .owl-item.active {
    min-height: 300px;
    display: flex;
    align-items: center;
}
.listing-slider-wrap button.owl-prev, .listing-slider-wrap button.owl-next,
#similar-pro-slider button.owl-prev, #similar-pro-slider button.owl-next,
#lcareportslider button.owl-prev, #lcareportslider button.owl-next,
#partnerlogoslider button.owl-prev, #partnerlogoslider button.owl-next{
    border: 1px solid #333333 !important;
    border-radius: 100px;
    width: 72px;
    height: 52px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.8s ease-in all;
}
.listing-slider-wrap button.owl-prev,
#similar-pro-slider button.owl-prev,
#lcareportslider button.owl-prev,
#partnerlogoslider button.owl-prev {
    margin-right: 12px;
}
.listing-slider-wrap .owl-nav {
    position: absolute;
    top: -37%;
    right: 0px;
}
.listing-slider-wrap {
    padding: 46px 0px 0px 53px;
}
/* #lcareportslider button.owl-prev, #partnerlogoslider button.owl-prev{
position: relative !important;
} */

.listing-slider-wrap button.owl-prev:hover, #similar-pro-slider button.owl-prev:hover, 
#caseslider button.owl-prev:hover, #lifecycleslider button.owl-prev:hover, 
#lcareportslider button.owl-prev:hover, #partnerlogoslider button.owl-prev:hover, 
.sc-contact-list-inn button.owl-prev:hover, .cust-feedbacks-list-inn button.owl-prev:hover, 
.tab-cont-listing button.owl-prev:hover{
    border: 1px solid #e6000d !important;
}
.listing-slider-wrap button.owl-prev:after, #similar-pro-slider button.owl-prev:after,
#caseslider button.owl-prev:after, #lifecycleslider button.owl-prev:after,
#lcareportslider button.owl-prev:after, #partnerlogoslider button.owl-prev:after, 
.sc-contact-list-inn button.owl-prev:after, .cust-feedbacks-list-inn button.owl-prev:after, 
.tab-cont-listing button.owl-prev:after {
    content: "";
    background: #e6000d;
    width: 0%;
    height: 0%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 100px;
    transition: 0.7s ease-in all;
}
.listing-slider-wrap button.owl-prev:hover:after, #similar-pro-slider button.owl-prev:hover:after,
#caseslider button.owl-prev:hover:after, #lifecycleslider button.owl-prev:hover:after,
#lcareportslider button.owl-prev:hover:after, #partnerlogoslider button.owl-prev:hover:after, 
.sc-contact-list-inn button.owl-prev:hover:after, .cust-feedbacks-list-inn button.owl-prev:hover:after, 
.tab-cont-listing button.owl-prev:hover:after  {
    width: 100%;
    height: 100%;
}
.listing-slider-wrap button.owl-prev img, #similar-pro-slider button.owl-prev img,
 #caseslider button.owl-prev img, #lifecycleslider button.owl-prev img,
 #lcareportslider button.owl-prev img, #partnerlogoslider button.owl-prev img, 
 .sc-contact-list-inn button.owl-prev img, .cust-feedbacks-list-inn button.owl-prev img,
  .tab-cont-listing button.owl-prev img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: 0.7s ease-in all;
}
.listing-slider-wrap button.owl-prev:hover img, #similar-pro-slider button.owl-prev:hover img,
#caseslider button.owl-prev:hover img, #lifecycleslider button.owl-prev:hover img,
 #lcareportslider button.owl-prev:hover img, #partnerlogoslider button.owl-prev:hover img, 
 .sc-contact-list-inn button.owl-prev:hover img, .cust-feedbacks-list-inn button.owl-prev:hover img, 
 .tab-cont-listing button.owl-prev:hover img {
    transform: translate(0%, -50%);
    left: 0;
    opacity: 0;
}
.listing-slider-wrap button.owl-prev:before, #similar-pro-slider button.owl-prev:before,
#caseslider button.owl-prev:before, #lifecycleslider button.owl-prev:before,
#lcareportslider button.owl-prev:before, #partnerlogoslider button.owl-prev:before, 
.sc-contact-list-inn button.owl-prev:before, .cust-feedbacks-list-inn button.owl-prev:before, 
.tab-cont-listing button.owl-prev:before {
    content: url(https://sharp.nexatestwp.com/html_pages/assets/images/pro-list-icon-left.svg);
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -42%);
    filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(2%) hue-rotate(15deg) brightness(110%) contrast(101%);
    z-index: 1;
    opacity: 0;
    transition: 0.7s ease-in all;
}
.listing-slider-wrap button.owl-prev:hover:before, #similar-pro-slider button.owl-prev:hover:before,
#caseslider button.owl-prev:hover:before, #lifecycleslider button.owl-prev:hover:before,
#lcareportslider button.owl-prev:hover:before, #partnerlogoslider button.owl-prev:hover:before, 
.sc-contact-list-inn button.owl-prev:hover:before, .cust-feedbacks-list-inn button.owl-prev:hover:before, 
.tab-cont-listing button.owl-prev:hover:before {
    right: 50%;
    transform: translate(50%, -42%);
    opacity: 1;
}

.listing-slider-wrap button.owl-next:hover, #similar-pro-slider button.owl-next:hover, 
#caseslider button.owl-next:hover, #lifecycleslider button.owl-next:hover,
#lcareportslider button.owl-next:hover, #partnerlogoslider button.owl-next:hover, 
.sc-contact-list-inn button.owl-next:hover, .cust-feedbacks-list-inn button.owl-next:hover, 
.tab-cont-listing button.owl-next:hover {
    border: 1px solid #e6000d !important;
}
.listing-slider-wrap button.owl-next:after, #similar-pro-slider button.owl-next:after,
#caseslider button.owl-next:after, #lifecycleslider button.owl-next:after,
#lcareportslider button.owl-next:after, #partnerlogoslider button.owl-next:after, 
.sc-contact-list-inn button.owl-next:after, .cust-feedbacks-list-inn button.owl-next:after, 
.tab-cont-listing button.owl-next:after {
    content: "";
    background: #e6000d;
    width: 0%;
    height: 0%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    transition: 0.7s ease-in all;
}
.listing-slider-wrap button.owl-next:hover:after, #similar-pro-slider button.owl-next:hover:after, 
#caseslider button.owl-next:hover:after, #lifecycleslider button.owl-next:hover:after,
#lcareportslider button.owl-next:hover:after, #partnerlogoslider button.owl-next:hover:after,
.sc-contact-list-inn button.owl-next:hover:after, .cust-feedbacks-list-inn button.owl-next:hover:after, 
.tab-cont-listing button.owl-next:hover:after {
    width: 100%;
    height: 100%;
}
.listing-slider-wrap button.owl-next img, #similar-pro-slider button.owl-next img,
#caseslider button.owl-next img, #lifecycleslider button.owl-next img,
#lcareportslider button.owl-next img, #partnerlogoslider button.owl-next img,
 .sc-contact-list-inn button.owl-next img, .cust-feedbacks-list-inn button.owl-next img, 
 .tab-cont-listing button.owl-next img{
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
    transition: 0.7s ease-in all;
}
.listing-slider-wrap button.owl-next:hover img, #similar-pro-slider button.owl-next:hover img,
#caseslider button.owl-next:hover img, #lifecycleslider button.owl-next:hover img,
#lcareportslider button.owl-next:hover img, #partnerlogoslider button.owl-next:hover img, 
.sc-contact-list-inn button.owl-next:hover img, .cust-feedbacks-list-inn button.owl-next:hover img, 
.tab-cont-listing button.owl-next:hover img {
    transform: translate(100%, -50%);
    right: 0;
    opacity: 0;
}
.listing-slider-wrap button.owl-next:before, #similar-pro-slider button.owl-next:before,
#caseslider button.owl-next:before, #lifecycleslider button.owl-next:before,
#lcareportslider button.owl-next:before, #partnerlogoslider button.owl-next:before, 
.sc-contact-list-inn button.owl-next:before, .cust-feedbacks-list-inn button.owl-next:before, 
.tab-cont-listing button.owl-next:before {
    content: url(https://sharp.nexatestwp.com/html_pages/assets/images/pro-list-icon-right.svg);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -42%);
    filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(2%) hue-rotate(15deg) brightness(110%) contrast(101%);
    z-index: 1;
    opacity: 0;
    transition: 0.7s ease-in all;
}
.listing-slider-wrap button.owl-next:hover:before, #similar-pro-slider button.owl-next:hover:before,
#caseslider button.owl-next:hover:before, #lifecycleslider button.owl-next:hover:before,
#lcareportslider button.owl-next:hover:before, #partnerlogoslider button.owl-next:hover:before, 
.sc-contact-list-inn button.owl-next:hover:before, .cust-feedbacks-list-inn button.owl-next:hover:before, 
.tab-cont-listing button.owl-next:hover:before  {
    left: 50%;
    transform: translate(-50%, -42%);
    opacity: 1;
}



.filter-sec {
    padding: 47px 0px;
    background-color: #E8EEF4;
    border-radius: 20px;
}
section.filter-sec .filter-wrap {
    gap: 45px;
}
.filter-wrap select,
.sort-wrap select {
    background-color: #fff;
    background-image: url(../images/arrow-select-right.svg);
    background-repeat: no-repeat;
    background-position: 88% 24px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #D7D7D7;
    border-radius: 60px;
    font-family: 'PPNeueMontreal_Book';
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    padding: 18px 21px;
    margin-right: 0%;
    outline: none !important;
    /* flex: 0 0 21.5%; */
    width: 100%;
}
.sort-wrap select{
    padding: 13.5px 21px;
    margin-right: unset;
    flex: unset;
    min-width: 220px;
}
.filter-wrap {
    display: flex;
    margin-top: 37px;
}
.filter-sec h2 {
    color: #3F3F3F;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-family: 'PPNeueMontreal_Book';
}

.filter-sec .btn-default {
    /* margin: auto; */
    margin-top: 54px;
    /* display: block; */
    width: max-content;
    /* text-decoration: none; */
}
.filter-sec-link {
    text-align: center;
}
.btn-default {
    font-family: 'PPNeueMontreal_Book';
    font-size: 18px;
    line-height: 1;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 18px 28px;
    /* min-width: 179px; */
    text-decoration: none;
    overflow: hidden;
    transition: 0.8s ease-in;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.btn-default img {
    margin-left: 12px;
}
.btn-default:hover {
    color: #fff;
    border: 1px solid #e6000d;
}
.btn-default::after {
    content: "";
    width: 0%;
    height: 0%;
    display: block;
    position: absolute;
    right: -47px;
    z-index: -1;
    bottom: -14px;
    background: #e6000d;
    border-radius: 100%;
    transition: 0.8s ease-in;
}
.btn-default:hover::after {
    height: 150%;
    width: 150%;
}
.btn-default span {
    width: 17px;
    position: relative;
    height: 18px;
    overflow: hidden;
}
button.subscrib-btn.btn-default span::before {
    width: 13px;
    height: 12px;
    background-size: cover;
}
.btn-default span::before {
    content: "";
    width: 17px;
    height: 18px;
    display: block;
    position: absolute;
    left: -18px;
    background: url(https://sharp.nexatestwp.com/html_pages/assets/imgs/arrow.svg);
    transition: 0.5s ease-in;
    filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(2%) hue-rotate(15deg) brightness(110%) contrast(101%);
}
.btn-default:hover span::before {
    left: 0px;
}
.btn-default img {
    width: 17px;
    position: absolute;
    right: 0px;
    transition: 0.5s ease-in;
}
.btn-default:hover span img {
    right: -17px;
}


.listing-sec {
    background: rgba(238, 238, 238, 0.7);
    padding: 150px 0px 123px;
    margin-bottom: 100px;
}
.list-item-img {
    background: #fff;
    height: 436px;
    border-radius: 20px;
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item-desc {
    padding: 28px 42px 42px 25px;
}
.list-item-desc h2,
.list-item-desc h3 {
    font-family: 'PPNeueMontreal_Book';
    font-size: 25px;
    line-height: 38px;
    font-weight: 400;
    margin-bottom: 32px;
}
.list-desc-wrap ul {
    list-style-image: url(https://sharp.nexatestwp.com/html_pages/assets/images/list-icon.svg);
    padding: 0 0 0 16px;
    margin-bottom: 18px;
}
.list-desc-wrap li,
.list-desc-wrap p {
    color: rgba(0, 0, 0, 0.71);
    font-size: 14px;
    font-family: 'Poppins';
    line-height: 21px;
}
.list-desc-wrap li {
    margin-bottom: 12px;
}
.list-item-wrap .btn-default {
    /* padding: 18px 28px;
    min-width: 185px; */
    /* display: block; */
    width: max-content;
}
.list-desc-wrap {
    margin-bottom: 18px;
}
.list-desc-wrap li img {
    margin-right: 12px;
}
.listing-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.listing-top .results {
    font-family: 'PPNeueMontreal_Book';
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    line-height: 24px;
}
.listing-top .sort-wrap {
    display: flex;
    flex: 0 0 310px;
    align-items: center;
}
.sort-wrap label {
    font-size: 16px;
    color: #00000099;
    font-family: 'PPNeueMontreal_Medium';
    margin-right: 8px;
    flex: 0 0 25%;
}
.prev.page-numbers, .next.page-numbers {
    width: auto;
    padding: 0px 12px 0px 0px;
    font-size: 0px;
    background: transparent;
    border: none;
    position: relative;
}
.prev.page-numbers:before,
.next.page-numbers:before {
    position: absolute;
    content: '';
    background: url(../images/pagination-prev.svg);
    width: 18px;
    height: 19px;
    display: block;
    position: absolute;
}
.next.page-numbers:before{
     background: url(../images/pagination-next.svg);
}
.pagination-default .page-numbers {
    background: #F3F3F3;
    border: 1px solid #8F8E8E;
    border-radius: 100px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F8E8E;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 5px;
}
.pagination-default {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 93px;
}
.prev.page-numbers, .next.page-numbers {
    width: auto;
    padding: unset;
    font-size: 0px;
    background: transparent;
    border: none;
    position: relative;
}
.prev.page-numbers {
    padding-right: 14px;
}
.next.page-numbers {
    padding-left: 14px;
}
.detail-hyper {
    padding: 59px 0px 48px 0px;
}
.default-back.detail-back {
    font-family: 'Poppins';
    font-size: 18px;
    text-decoration: none;
    color: #E6000D;
    padding-right: 33px;
    position: relative;
}
.default-back.detail-back::after {
    content: '';
    right: 13px;
    position: absolute;
    width: 4.5px;
    height: 7.5px;
    background: url(../images/hyperlink-icon.svg);
    z-index: 9;
    top: 35%;
}
.default-back.detail-back:last-child{
    color: #8B8B8B;
}
.default-back.detail-back:last-child::after
{
    display: none;
}

.default-back.detail-back:hover{
    color: #8B8B8B;
}
.detail-shopslider{
 background: #E8EEF4;
    border-radius: 20px;
    padding: 111px 68px;
}
.detail-shopslider .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 373px;
}
.detail-shopslider .slick-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.detail-shopslider-thumbnails .slick-slide {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 24px 20px;
    background: #E8EEF4;
    border-radius: 20px;
    height: 142px;
    margin: 0px 5px; 
    border: 1px solid #E8EEF4;
}
.detail-shopslider-thumbnails{
    margin: 0px -5px;
}
.detail-shopslider-thumbnails .slick-slide img {
    max-height: 100%;
    height: 100%;
}
.detail-shopslider {
    margin-bottom: 10px;
}
.detail-shopslider-thumbnails .slick-slide.slick-active:first-child {
    margin-left: unset;
}
.detail-shopslider-thumbnails {
    height: 142px;
    overflow: hidden;
}

.detail-shopslider-thumbnails .slick-slide.slick-current.slick-active {
       background: rgba(230, 0, 13, 0.05);
    border: 1px solid #E6000D;
}
.detail-shopslider .slick-slide img {
    width: 100%;
}
.single-detail-sec {
    padding: 23px 0px 0px 30px;
}
.product-no {
    font-family: 'PPNeueMontreal_Book';
    font-size: 20px;
    color: #333333;
}
.detail-cat {
    font-family: 'PPNeueMontreal_Book';
    font-size: 18px;
    color: #000;
    padding: 7.5px 16px;
    background-color: #FFE9EA;
    border: 1px solid #E6000D;
    border-radius: 100px;
}
.single-detail-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
}
.single-detail-sec h1 {
    font-family: 'PPNeueMontreal_Book';
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 95px;
}
.single-detail-sec .select2-container--default .select2-selection--multiple {
    min-height: 49px;
    color: #333333;
    border-color: #CFCFCF !important;
    border-width: 0px 0px 1px 0px !important;
    border: solid black 1px;
    outline: 0;
    padding-bottom: 18px;
}
.single-detail-sec .select2-container--default .select2-search--inline .select2-search__field,
.single-detail-sec .select2-search__field::placeholder {
    font-size: 20px;
    min-height: 23px; 
    color: #333333;
}
.single-detail-sec .select2-container--default .select2-selection--multiple::after {
    content: '';
    position: absolute;
    background: url(../images/select2-icon.svg);
    width: 26px;
    height: 26px;
}
.single-detail-sec .select2-container--default .select2-selection--multiple::after {
    content: '';
    position: absolute;
    background: url(../images/select2-icon.svg);
    width: 26px;
    height: 26px;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.single-detail-sec .btn-default {
    /* display: inline-block; */
    margin-top: 54px;
    cursor: pointer;
}
.social-share {
    margin-top: 72px;
}
.social-share img {
    margin-right: 11px;
}
.social-share {
    color: #333333;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PPNeueMontreal_Book';
}
.social-share .share-button:first-child {
    margin-left: 20px;
    display: block;
     background-color: red;
}
.share-button {
    margin: 0px 10px;
}
.share-button i::before {
    color: #E6000D;
}
.social-share label {
    margin-right: 7px;
}
.detail-banner-img img {
    width: 100%;
    height: 100%;
}
.detail-fea-wrap h2 {
    font-family: 'PPNeueMontreal_Book';
    font-size: 70px;
    font-weight: 400;
    color: #000;
    margin-bottom: unset;
}
.detail-fea-inner {
    margin-top: 72px;
}
.detail-fea-img img {
    height: 100%;
}
.detail-fea-img {
    background: rgba(206, 206, 206, 0.2);
    border-radius: 20px;
    height: 133px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    width: 211px;
}
.detail-fea-img img {
    width: auto;
    height: auto;
}
.detail-fea-wrap {
    background: #F1F1F1;
    padding: 100px 50px;
    border-radius: 20px;
}
.detail-fea-content h4 {
    font-size: 27px;
    color: #000000;
    margin-bottom: 13px;
    font-weight: 400;
}
.detail-desc {
    color: #585858;
    font-size: 20px;
}
.detail-fea-inner .owl-nav button {
    border: 1px solid #000 !important;
    padding: 18px 28px;
    width: 65px;
    height: 45px;
    border-radius: 100px;
}
.certif-slide-item.slick-slide{
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
}
div#partnerlogoslider .owl-item .partner-logo-item {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
}
.main-category-banner{
    margin-top: 114px;
}
.benefits-sec {
    margin-top: 150px;
}
.benefit-sec-img {
    padding-right: 72px;
}
.benefit-sec-img img {
    width: 100%;
}
.benefit-content h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 34px;
}
.benefit-desc, .benefit-desc p {
    color: #585858;
    font-size: 16px;
}
.benefit-item {
    position: relative;
    padding: 28px 53px 22px 0px;
}
.benefit-icon {
    background: #FFE7E8;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 21px;
}
.benefit-icon img {
    position: relative;
    right: -8px;
}
.benefit-icon h6 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 23px;
    line-height: 120px;
    margin-bottom: 9px;
    color: #000;
}
.benefit-item-desc {
    font-size: 15px;
    color: #585858;
    line-height: 22px;
    letter-spacing: 0.03em;
}
/* .benefit-item-desc,
.benefit-item h6 {
   max-width: 250px;
} */
.benefit-item-list .owl-nav button {
    border: 1px solid #000 !important;
    border-radius: 100px;
    padding: 14px 24px !important;
    width: 65px;
    height: 45px;
}
.benefit-item-list .owl-nav button.owl-prev {
    margin-right: 12px;
}
.benefit-item-list .owl-nav {
    margin-top: 15px;
}
.benefit-item-list .owl-dots button.owl-dot span {
    width: 10px;
    height: 10px;
    display: block;
    background: #e6000d78;
    border-radius: 13px;
    transition: 0.7s ease-in all;
}
.benefit-item-list .owl-dots button.owl-dot.active span {
    background: #e6000d;
    width: 30px;
}
.benefit-item-list .owl-dots button.owl-dot {
    margin-right: 8px;
}
.top-space {
    margin-top: 100px;
}
.benefit-desc {
    padding-bottom: 36px;
    letter-spacing: 0.03em;
}
.benefit-item h6 {
    font-weight: 500;
    font-size: 23px;
    font-family: 'Poppins';
    line-height: 2.4rem;
    margin-bottom: 9px;
}
.benefit-item-wrap .col-md-6:nth-child(4n+1) .benefit-item::before,
.benefit-item-wrap .row .col-md-6:nth-child(4n+3) .benefit-item::before{
    content: '';
    position: absolute;
    width: 1px;
    background: #E4E4E4;
    height: 87%;
    right: 0px;
    top: 0px;
}
.benefit-item-wrap .row .col-md-6:nth-child(4n+3) .benefit-item::before
{
    top: unset;
    bottom: 0px;
}

.benefit-item-wrap .col-md-6:nth-child(4n+1) .benefit-item::after,
.benefit-item-wrap .row .col-md-6:nth-child(4n+3) .benefit-item::after,
.benefit-item-wrap .row .col-md-6:nth-child(4n+2) .benefit-item::after,
.benefit-item-wrap .row .col-md-6:nth-child(4n+4) .benefit-item::after{
    content: '';
    position: absolute;
    width: 90%;
    background: #E4E4E4;
    height: 1px;
    bottom: 0px;
    left: 0px;
}
.benefit-item-wrap .row .col-md-6:last-child .benefit-item::after,
.benefit-item-wrap .row .col-md-6:nth-last-child(2) .benefit-item::after{
    display: none;
}
.download-res-inner {
    border-radius: 20px;
    background: #E8EEF4;
    padding: 113px 30px 122px;
}
.download-res-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.download-res-top h2 {
    color: #000000;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: unset;
}
.download-res-top
{
    margin-bottom: 35px;
}
.download-res-item {
    background: #fff;
    padding: 43px 22px 29px;
    border-radius: 20px;
}
.download-desc h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 12px;
}
.download-desc label {
    color: #3B3B3B;
    font-size: 16px;
    line-height: 21px;
}
/* .download-btn .btn-default {
    min-width: 170px;
} */

.download-btn .btn-default .dw-btn, .download-res-top .btn-default .dw-btn, 
.related-ne-link .btn-default .dw-btn, .loadmore-btn .btn-default .dw-btn,
 .map-contact-info-link .btn-default .dw-btn, .inquire-now-form .btn-default .dw-btn, 
 .apply-now-btn .btn-default .dw-btn{
    width: 69% !important;
}
.support-item .dw-btn{
    width: 80% !important;
}
.vr-ast-link .btn-default .dw-btn, .j-item-link a .dw-btn, .pro-warrenty-link .btn-default .dw-btn{
    width: 72% !important;
}
.download-btn .btn-default .dw-btn::before, .download-res-top .btn-default .dw-btn::before,
 .support-item .dw-btn::before, .related-ne-link .btn-default .dw-btn::before, 
 .loadmore-btn .btn-default .dw-btn::before, .map-contact-info-link .btn-default .dw-btn::before,
  .vr-ast-link .btn-default .dw-btn::before, .j-item-link a .dw-btn::before,
   .pro-warrenty-link .btn-default .dw-btn::before, .inquire-now-form .btn-default .dw-btn::before, 
   .apply-now-btn .btn-default .dw-btn::before {
    content: unset;
}
.download-btn .btn-default::after, .download-res-top .btn-default::after, .support-item .btn-default::after, 
.related-ne-link .btn-default::after, .loadmore-btn .btn-default::after, .map-contact-info-link .btn-default::after,
 .vr-ast-link .btn-default::after, .j-item-link a::after, .pro-warrenty-link .btn-default::after,
  .inquire-now-form .btn-default::after, .apply-now-btn .btn-default::after {
    content: "";
    z-index: 0 !important;
}
.download-btn .btn-default span, .download-res-top .btn-default span, .support-item span, 
.related-ne-link .btn-default span, .loadmore-btn span, .map-contact-info-link span, .vr-ast-link span,
 .j-item-link a span, .pro-warrenty-link .btn-default span, .inquire-now-form .btn-default span, 
 .apply-now-btn .btn-default span {
    z-index: 1;
}

.download-res-wrap .download-desc {
    margin-bottom: 38px;
}
.download-img {
    margin-bottom: 25px;
}
.owl-carousel .owl-item .list-item-desc img {
    width: auto;
    display: inline-block;
}
.similar-pro-sec h2 {
    font-size: 70px;
    color: #000;
    font-weight: 400;
    margin-bottom: unset;
}
.similar-pro-wrap
{
    margin-top: 48px;
}
#similar-pro-slider .owl-nav {
    top: -13%;
    position: absolute;
    right: 0px;
}
#caseslider .owl-nav {
    top: -14%;
    position: absolute;
    right: 0px;
}
#lifecycleslider .owl-nav{
    top: -27%;
    position: absolute;
    right: 0px;
}
#lcareportslider .owl-nav{
    top: -32%;
    position: absolute;
    right: 0px;
}
#partnerlogoslider .owl-nav {
    top: -86%;
    position: absolute;
    right: 0px;
}
#similar-pro-slider button.owl-prev,
#caseslider button.owl-prev,
#lifecycleslider button.owl-prev {
    margin-right: 12px;
}
#similar-pro-slider button.owl-prev, #similar-pro-slider button.owl-next,
#caseslider button.owl-prev, #caseslider button.owl-next,
#lifecycleslider button.owl-prev, #lifecycleslider button.owl-next {
    border: 1px solid #333333 !important;
    border-radius: 100px;
    width: 72px;
    height: 52px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.support-sec{
    background: #E8EEF4;
    padding: 114px 0px 110px;
}
.support-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 42px;
}
.support-top h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 13px;
}
.sup-top-desc {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    max-width: 450px;
    text-align: center;
}
.support-item {
    padding: 20px 20px 49px;
}
.sup-item-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sup-item-img {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sup-item-desc h4 {
    font-size: 30px;
    color: #000;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4px;
}
.sup-item-txt {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
}
.support-item {
    max-width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sup-item-desc {
    margin-bottom: 44px;
}
.bottom-space 
{
    margin-bottom: 100px;
}
.detail-fea-item {
    max-width: 307px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-fea-content {
    text-align: center;
}
.filter-wrap select:last-child {
    margin-right: unset;
}
.filter-wrap {
    justify-content: space-between;
}
#inquireModal .modal-content {
    border-radius: 20px;
}
#inquireModal .modal-body {
    padding: 78px 108px;
}
#inquireModal h2 {
    color: #000000;
    font-size: 70px;
    text-align: center;
}
#inquireModal input,
#inquireModal select,
#inquireModal textarea {
    border-bottom: 1px solid rgba(97, 97, 97, 0.6);
    border-width: 0px 0px 1px 0px !important;
    padding: 0px 0px 15px 0px !important;
    min-height: 35px;
    outline: none !important;
    box-shadow: none;
    border-radius: 0px;
}
#inquireModal input,
#inquireModal select,
#inquireModal textarea,
#inquireModal input::placeholder,
#inquireModal select::placeholder,
#inquireModal textarea::placeholder {
    font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.6);
}
#inquireModal select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-image: url(../images/select-dropdown.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 99% 7px !important;
}
#inquireModal .modal-dialog {
    top:6%;
max-width: 896px; 
}

    #inquireModal input,
#inquireModal select
{
    margin-bottom: 40px;
}
#inquireModal h2 {
    margin-bottom: 40px; 
    }
   #inquireModal button.btn-close {
    background: url(../images/popup-icon.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11px;
    padding: unset;
    top: 11px;
    opacity: 1;
    border: 0px;
}
/* #inquireModal .btn-default {
    min-width: 146px;
} */
.inquire-now-form .col-md-12 {
    display: flex;
}
#inquireModal .btn-default {
    text-align: center;
    margin: 56px auto 0px;
    font-family: 'PPNeueMontreal_Book';
    min-width: 146px;
    justify-content: left;
}
#inquireModal .btn-default img {
    position: relative;
}
.list-item-img img {
    width: 100%;
}
.caseslider-item {
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    padding: 35px 43px;
}
.caseslider-top {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}
.caseslider-img img {
    width: 78px !important;
    height: 78px;
    object-fit: cover;
    border-radius: 100px;
}
.caseslider-img {
    margin-right: 22px;
}
.caseslider-tag {
    font-size: 15px;
    background: #F2F2F2;
    border: 1px solid #DEDEDE;
    border-radius: 50px;
    padding: 8px 19px;
    letter-spacing: 0.05em;
}
.caseslider-item .btn-default img {
    width: auto;
    display: inline-flex;
}
/* .caseslider-item .btn-default {
    min-width: 180px; 
} */
.caseslider-item .caseslider-txt {
    margin-bottom: 54px;
}
.caseslider-desc h3 {
    margin-bottom: 28px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-family: 'PPNeueMontreal_Medium';
}
.caseslider-txt {
    font-size: 18px;
    color: #4F4F4F;
    letter-spacing: 0.03em;
    line-height: 27px;
}
.case-slider-sec h2 {
    font-size: 70px;
    margin-bottom: unset;
}
.caseslider-wrap
{
    margin-top: 34px;
}
.lifeslider-item {
    border: 1px solid #E3E3E3;
    border-radius: 20px;
}
.lifeslider-img img {
    height: 292px;
    object-fit: cover;
    border-radius: 20px;
}
.lifeslider-desc h3 {
    font-size: 27px;
    margin-bottom: 12px;
    text-align: center;
}
.lifeslider-txt {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #585858;
    text-align: center;
}
.lifeslider-item .btn-default img {
    width: auto;
    display: inline-block;
}
.lifeslider-icon{
        border-radius: 100px;
    width: 45px;
    height: 45px;
    background: #E6000D;
    display: block;
    position: absolute;
    bottom: -24px;
    z-index: 9 !important;
    right: 47%;
}
.lifeslider-icon img {
    padding: 12px 13px;
}
#lifecycleslider .owl-item{
    padding-bottom: 23px;
}
.lifeslider-desc {
    padding: 37px 27px 67px;
}
.pro-lifecycle-sec h2 {
    font-size: 70px;
}
.esg-desc {
    letter-spacing: 0.03em;
    font-size: 16px;
    color: #585858;
    line-height: 24px;
    max-width: 699px;
}
.pro-lifecycle-top {
    margin-bottom: 49px;
}
#lifecycleslider .owl-stage {
    padding-bottom: 30px;
}
.case-slider-sec {
    position: relative;
}
.csr-report-inner {
    background: #E8EEF4;
    border-radius: 20px;
}
.padding-top{
    padding-top: 100px;
} 
.padding-bottom{
    padding-bottom: 100px;
}
.csr-report-inner {
    padding-right: 50px;
    padding-left: 50px;
}
.csr-report-inner h2 {
    margin-bottom: 60px;
}
.csr-detail-wrap h3 {
    font-size: 38px;
    line-height: 55px;
}
.csr-detail-wrap h3 {
    font-size: 38px;
    line-height: 55px;
    letter-spacing: 0.03em;
}
.csr-txt-wrap {
    letter-spacing: 0.03em;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 27px;
    max-width: 374px;
}
.csr-txt-wrap {
    margin-top: 42px;
}
.csr-detail-img {
    margin-top: 81px;
}
.csr-detail-img {
    width: 245px;
    height: 170px;
}
.csr-detail-img img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.csr-report-img img {
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    min-height: 630px;
}
.csr-report-img {
    height: 100%;
}
.pro-lifecycle-sec {
    position: relative;
}
.lca-reports-inner {
    background: #E8EEF4;
    border-radius: 20px;
}
.lca-reports-inner {
    padding-left: 50px;
    padding-right: 50px;
}
.lca-reports-inner .download-res-wrap {
    max-width: unset;
    margin-top: 35px;
}
.lca-reports-inner .download-img img {
    width: 41px;
}
.lca-desc {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
    margin-bottom: 11px;
}
.download-btn .btn-default img {
    width: auto;
    display: inline-block;
}
#faqaccordion .accordion-button:not(.collapsed)::after {
    background-image: url(../images/accordian-minus.svg) !important;
    
}
#faqaccordion .accordion-button::after {
    background-image: url(../images/accordian-plus.svg) !important;  
}
.faq-detail-sec {
    margin-top: 28px;
}
.faq-detail-sec h2 {
    margin-bottom: 12px;
}
.faq-detail-sec .faq-desc {
    font-weight: 400;
    font-size: 28px;
    color: #000;
    margin-bottom: 74px;
        max-width: 537px;
}
/* .faq-detail-sec .btn-default {
    min-width: 172px;
} */
 #faqaccordion .accordion-button{
    padding-bottom: 14px;
 }
#faqaccordion .accordion-button.collapsed {
    font-weight: 700;
    color: #414141;
    font-size: 18px;
    line-height: 27px;
    padding: 24px 0;
    font-family: 'PPNeueMontreal_Bold';
    letter-spacing: 0.03em;
}
.csr-cmp-accordian-inn #faqaccordion .accordion-item {
    padding: unset;
}
.faq-accordian-wrap.csr-cmp-accordian-inn{
    max-width: 100%;
}
.faq-accordian-wrap.csr-cmp-accordian-inn .accordion-collapse .accordion-body {
    padding: 0px 0px 24px;
    font-size: 18px;
    color: #4F4F4F;
    line-height: 1.5;
    width: 100%;
    letter-spacing: 0.03em;
}
.sustain-reports-inner {
    background: #E8EEF4;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
}
.sustain-reports-sec h2 {
    margin-bottom: 26px;
}
.sustain-reports-txt {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 27px;
    letter-spacing: 0.03em;
    margin-bottom: 52px;
}
.sustain-reports-desc {
    max-width: 624px;
    float: right;
}
.sustain-reports-img img {
    width: 100%;
    border-radius: 20px;
}
.sustain-reports-img {
    padding-right: 5%;
}
.partner-desc {
    color: #4F4F4F;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
}
.partner-logo-item {
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.partner-logos-wrap {
    margin-top: 64px;
}
.partner-logo-item img {
    width: auto !important;
    max-width: 100%;
    height: auto;
}
.owl-stage {
    padding-left: 0px !important;
}
.case-gallery-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
        margin-top: 41px;
    position: relative;
}
.case-gallery-inner .case-gallery-item img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
}
.casestudy-gallery {
    padding-top: 59px;
    margin-top: 114px;
}
.news-event-detail, .our-locations, .faqs, .privacy-policy, .career-detail{
    margin-top: 114px;
}
.casestudy-gallery h1 {
    margin: 45px 0px 15px;
    font-size: 60px;
    color: #000;
}
.casestudy-gallery .default-back {
    color: #8B8B8B;
    font-size: 18px;
    font-family: 'Poppins';
}
.casestudy-gallery .default-back img {
    margin-right: 8px;
    position: relative;
    top: -2px;
}
.case-category {
    font-size: 15px;
    letter-spacing: 0.05em;
    background: #F2F2F2;
    border: 1px solid #DEDEDE;
    border-radius: 50px;
    display: inline-flex;
    padding: 8px 19px;
}
.gal-bottom-desc .gal-bottom-inner h2 {
    font-size: 38px;
    line-height: 55px;
    color: #000;
    max-width: 501px;
}
.gal-bottom-desc .gal-botton-txt {
    letter-spacing: 0.03em;
    font-size: 18px;
    color: #4F4F4F;
    line-height: 27px;
    float: right;
    max-width: 666px;
}
.case-desc-inner {
    background: #E8EEF4;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
}
.casedesc-top h2 {
    margin-bottom: 37px;
}
.case-high-txt h4 {
    font-size: 38px;
    line-height: 55px;
    color: #000000;
    letter-spacing: 0.03em;
}
.casedesc-txt {
    margin-top: 42px;
}
.casedesc-txt, .casedt-detail {
    letter-spacing: 0.03em;
    font-size: 18px;
    color: #4F4F4F;
    line-height: 27px;
}
.casedesc-wrap {
    margin-top: 42px;
}
.casedt-img img {
     border-radius: 20px; 
     width: 100%;
}
.caseslider-txt {
    margin-bottom: 30px;
}
/*.lightbox .lb-image {
   width: auto !important;
   min-height: 300px;
   border: none;
   padding: 30px;
   max-height: 400px;
}*/
.lb-nav a.lb-prev,
.lb-nav a.lb-next {
    /* filter: brightness(0) saturate(100%) invert(19%) sepia(61%) saturate(5284%) hue-rotate(346deg) brightness(82%) contrast(126%); */
    background: url(../images/pro-list-icon-right.svg) center 48% no-repeat !important;
    /* width: 17px !important; */
    z-index: 99;
    position: relative;
    opacity: 1;
    display: block;
    border: 1px solid #fff;
    height: 40px;
    width: 50px !important;
    top: 50%;
    border-radius: 100px;
}
.lb-nav a.lb-next {
    right: -60px;
    background-color: #fff !important;
}
.lb-nav a.lb-prev{
   background: url(../images/pro-list-icon-left.svg) center 48% no-repeat !important; 
   left: -60px;
   background-color: #fff !important;
}
div#lightbox {
    display: flex;
    flex-direction: column-reverse;
}
   /* .lb-outerContainer {
        border-radius: 20px;
        position: relative; 
    }
    div#lightbox {
    display: flex;
    flex-direction: column-reverse;  
}
.lb-dataContainer .lb-data .lb-close {
    position: relative;
    top: 40px;
    right: -17px;
    width: 30px;
    height: 30px;
    background: url(../images/popup-icon.svg) top right no-repeat;
    z-index: 99;
}
/*.lb-outerContainer {
    min-width: 600px !important;
    width: 600px !important;
    min-height: 400px;
}*/
.lb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.default-sec h2 {
        color: #000; 
    }
.download-cdesc h2 {
    margin-bottom: 26px;
}
.download-ctxt {
    letter-spacing: 0.03em;
    font-size: 18px;
    color: #4F4F4F;
    line-height: 27px;
}
.download-inner {
    margin-top: 60px;
}
.supp-accordian-wrap.csr-cmp-accordian-inn .accordion-item h2 button {
    padding-left: 84px;
    color: #000000;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Poppins';
    padding: 0px 0px 0px 84px;
    position: relative;
}
.supp-accordian-wrap {
    counter-reset: section;
}
.supp-accordian-wrap.csr-cmp-accordian-inn {
    max-width: unset;
}
.supp-accordian-wrap .accordion-button::before {
    position: absolute;
    left: 0px;
    counter-increment: section;
    content: "(0" counter(section) ") ";
    letter-spacing: 0.03em;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 27px;
}
.download-ctabs
{
    padding-right: 27px;
}
.download-cimg {
    padding-left: 42px;
}
.download-cimg img {
    height: 546px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}
.supp-accordian-wrap.csr-cmp-accordian-inn .accordion-collapse .accordion-body
{
    padding: 32px 8px 32px 84px;
    width: 100%;
}
.map-contact-bg-sec {
    background: #E8EEF4;
    border-radius: 20px;
}
/* .map-contact-inner {
    padding-right: 50px;
    padding-left: 50px;
} */
/* .map-contact-info h2 {
    margin-bottom: 26px;
} */
/* .map-contact-txt {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
} */
/* .map-contact-item {
    display: flex;
    align-items: center;
} */
/* .map-item-image {
    background-color: #fff;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 13px;
} */
/* .map-contact-item {
    border-bottom: 1px solid #C1D4E7;
    padding: 30px 0px;
}
.map-contact-item h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: unset;
    font-family: 'PPNeueMontreal_Medium';
    margin-right: 13px;
} */
.map-contact-inner {
    display: flex;
    gap: 59px;
    align-items: center;
}
.map-contact-wrap {
    flex: 0 0 645px;
    height: 751px;
}
.map-contact-wrap .map-contact-wrap-inn, 
.map-contact-wrap .map-contact-wrap-inn iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 10px solid #fff;
}
.map-contact-info-link a, .supp-faq-txt-link a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 18px 28px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-family: 'PPNeueMontreal_Book';
}
.map-contact-info-link {
    margin-top: 90px;
}
.support-faq {
    padding-top: 150px;
    padding-bottom: 150px;
}
.support-faq-inn {
    display: flex;
    gap: 95px;
}
.support-faq-txt {
    flex: 0 0 33.8%;
}
.support-faq-qa {
    flex: 0 0 59%;
}
.support-faq-txt-inn h2 {
    font-size: 70px;
    margin-bottom: 12px;
}
.support-faq-txt-inn p {
    font-size: 28px;
}
.supp-faq-txt-link {
    margin-top: 74px;
}
.support-assist-inner {
    background: #E8EEF4;
    border-radius: 20px;
    padding: 150px 0;
}
.sp-assist-content {
    display: flex;
    align-items: center;
    gap: 129px;
}
.sp-assist-content .sp-assist-img {
    flex: 0 0 42.05%;
    height: 664px;
    border-radius: 20px;
}
.sp-assist-img .sp-assist-img-inn {
    height: 100%;
}
.sp-assist-content .sp-assist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.sp-assist-content .sp-assist-txt {
    flex: 0 0 48%;
    padding-right: 45px;
}
.sp-assist-txt-inn h2 {
    font-size: 70px;
    margin-bottom: 26px;
}
.sp-assist-txt-inn p {
    font-size: 18px;
    color: #4F4F4F;
    margin: 0;
}
.sp-assist-txt-inn .supp-faq-txt-link {
    margin-top: 52px;
}
.support-assist-sec {
    margin-bottom: 150px;
}
.support-assist-sec {
    margin-bottom: 100px;
}

@media(min-width: 768px)
{
   .case-gallery-inner .col-md-3:first-child {
    display: block;
    width: 50%;
}
.case-gallery-inner .col-md-3 {
            margin-top: 12px;
        margin-bottom: 20px;
  padding-right: calc(var(--bs-gutter-x) * .85);
    padding-left: calc(var(--bs-gutter-x) * .85);
}
.casedt-detail {
    margin-left: 14px;
}
.case-gallery-inner .col-md-3:first-child img {
    height: 729px;
}
.case-gallery-inner,
.case-gallery-inner .row
{
    height: 749px;
}
.case-gallery-inner .col-md-3:nth-of-type(4), 
.case-gallery-inner .col-md-3:nth-of-type(5) {
    position: relative;
    right: -50%;
    top: -50%;
}
.case-gallery-inner .col-md-3 {
    width: 25%;
}
.case-gallery-inner .col-md-3 img{
    height: 343px;
}
}
@media(min-width: 992px)
{
    .inquire-now-form .col-md-6:nth-of-type(1), .inquire-now-form .col-md-6:nth-of-type(3), .inquire-now-form .col-md-6:nth-of-type(5)
    {
      padding-right: 1.7rem;
    }
    .inquire-now-form .col-md-6:nth-of-type(2), .inquire-now-form .col-md-6:nth-of-type(4), .inquire-now-form .col-md-6:nth-of-type(6)
    {
       padding-left: 1.7rem;
    }
}
@media(min-width: 1300px)
{
    .download-res-wrap .col-md-4 {
    padding-left: 8px;
    padding-right: 8px;
}
    .download-res-top, .download-res-wrap {
    max-width: 1302px;
    margin-right: auto;
    margin-left: auto;
     padding-right: unset;
    padding-left: unset;
}
/* section.listing-sec .container {
    width: 1332px;
    margin: auto;
    padding: 0 10px;
} */
.casedesc-wrap .col-md-3 {
   width: 20.5%;
}
.sustain-reports-img {
    padding-right: 13.4%;
}
.csr-report-inner .col-md-5 {
    width: 43.4%;
}
.csr-report-inner .col-md-7 {
    width: 56.6%;
}
.support-sec .container,
.similar-pro-sec .container,
.detail-fea-wrap h2, .detail-fea-inner,
.gal-bottom-inner,
.case-dt-wrap,
.map-contact-inner .row{
    max-width: 1302px;
    margin-right: auto;
    margin-left: auto;
    padding-right: unset;
    padding-left: unset;
}
.csr-report-inner.padding-top .csr-detail-wrap {
    padding-right: 8px;
}
}
@media(min-width: 1500px)
{
    #inquireModal input,
#inquireModal select
{
    margin-bottom: 60px;
}
section.lca-reports-sec.top-space.default-sec {
    margin-top: 97px;
}
section.case-slider-sec.top-space.default-sec {
    margin-top: 133px;
}
.smef-prof-text h4 {
    margin-right: 100px;
}
.caseslider-desc h3 {
    font-size: 38px;
}
.casestudy-gallery h1 {
    font-size: 70px;
}
.case-high-txt {
    margin-bottom: 89px;
}


.csr-report-inner,
.lca-reports-inner,
.sustain-reports-inner{
    padding-right: 95px;
    padding-left: 95px;
}
#lifecycleslider .owl-nav {
    top: -30%;
}
.csr-report-inner h2 {
    margin-bottom: 92px;
}
    .default-sec h2 {
        font-size: 70px;
        font-weight: 400;
    }
.csr-report-inner.padding-top {
    padding-top: 134px;
}
.padding-top{
    padding-top: 150px;
} 
.padding-bottom{
    padding-bottom: 150px;
}
#caseslider .owl-nav {
    top: -19%;
}
.listing-slider-wrap {
    padding: 46px 0px 39px 53px;
}
.detail-fea-wrap {
    padding: 122px 50px;
}
.top-space
{
    margin-top: 150px;
}
.bottom-space 
{
    margin-bottom: 150px;
}
#inquireModal h2 {
    margin-bottom: 87px; 
    }
    .single-detail-sec h1 {
    font-size: 50px;
}
}
@media(max-width: 1500px) {
    .pro-list-slider h1 {
    font-size: 70px;
    line-height: inherit;
}
.detail-shopslider {
    padding: 80px 50px;
}
.csr-detail-wrap h3 {
    font-size: 32px;
    line-height: 46px;
}
.pagination-default {
    padding-top: 50px;
}
.default-sec h2,
#inquireModal h2
{
    font-size: 55px;
}
.support-sec.top-space {
    padding: 100px 0px 50px;
}
.listing-sec {
    padding: 100px 0px 100px;
    margin-bottom: 100px;
}
.btn-default{
    font-size: 16px;
    padding: 14px 24px;
}
.list-item-desc h2, .list-item-desc h3{
    font-size: 22px;
    line-height: 32px;
}

}
@media(max-width:1280px){
    .single-detail-sec h1 {
    font-size: 30px;
    margin-bottom: 50px;
}
.detail-shopslider {
    padding: 50px 40px;
}
#inquireModal .modal-body {
    overflow-y: scroll;
    padding: 50px 50px;
}
.partner-logos-wrap {
    margin-top: 40px;
}
.partner-logos-top {
    width: 80%;
}
#partnerlogoslider .owl-nav {
    top: -81%; 
}
 .esg-desc {
    width: 80%; 
}
#lifecycleslider .owl-nav {
    top: -23%;
}
#lcareportslider .owl-nav {
    top: -26%;
}
.csr-report-inner h2 {
    margin-bottom: 40px;
}
.csr-detail-wrap h3 {
    font-size: 28px;
    line-height: 36px;
}
.csr-txt-wrap {
    margin-top: 22px;
}
.csr-detail-img {
    margin-top: 40px;
}
.csr-report-img img {
    min-height: 560px;
}
.caseslider-tag {
    line-height: 16px;
    text-align: center;
}
.caseslider-top {
    margin-bottom: 20px;
}
.caseslider-desc h3 {
    margin-bottom: 16px;
    font-size: 21px;
}
.casedesc-top h2 {
    margin-bottom: 20px;
}
.case-high-txt h4 {
    font-size: 28px;
    line-height: 37px;
}
.casedesc-txt {
    margin-top: 30px;
}
.casedesc-txt, .casedt-detail {
    font-size: 16px;
    line-height: 25px;
}
.gal-bottom-desc .gal-bottom-inner h2 {
    font-size: 30px;
    line-height: 42px; 
}

.listing-sec {
    padding: 80px 0px 80px;
    margin-bottom: 80px;
}
.padding-top{
    padding-top: 80px;
} 
.padding-bottom{
    padding-bottom: 80px;
}
.top-space
{
    margin-top: 80px;
}
.bottom-space 
{
    margin-bottom: 80px;
}
.default-sec h2,
#inquireModal h2 {
        font-size: 40px;
    }
    .detail-fea-wrap {
    padding: 80px 50px;
}
.detail-fea-wrap {
        padding: 80px 50px;
    }
    .detail-fea-img {
   width: auto;
}
.detail-fea-inner {
    margin-top: 40px;
}
.benefit-sec-img {
    padding-right: 20px;
}
.benefit-item {
    padding: 28px 22px 22px 10px;
}
.benefit-content h2 {
   margin-bottom: unset;
}
.benefit-item h6 {
    font-size: 20px;
    line-height: 24px;
}
.benefit-desc {
    padding-bottom: 20px;
}
.list-item-img {
    height: 300px;
    padding: 50px 20px;
}
.similar-pro-wrap {
    margin-top: unset;
}
.support-sec.top-space {
        margin-top: 38px;
        padding: 80px 0px 30px;
    }
    .sup-item-desc h4 {
    font-size: 22px;
}
.support-top {
    margin-bottom: 20px;
}
.list-item-desc h2, .list-item-desc h3 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}
}
@media(max-width: 991px)
{
    .single-detail-sec h1 {
        margin-bottom: 30px;
    }
    #inquireModal .modal-dialog {
    margin-right: 30px;
    margin-left: 30px;
}

        .pagination-default {
        padding-top: 20px;
    }
   .sustain-reports-inner .col-md-6 {
    width: 100%;
}
.sustain-reports-inner .sustain-reports-img {
    margin-bottom: 50px;
    padding-right: unset;
}
.sustain-reports-inner .sustain-reports-img img {
    max-height: 500px;
}
    .csr-report-inner .col-md-5, .csr-report-inner .col-md-7 {
    width: 100%;
}
.csr-detail-wrap {
    margin-bottom: 50px;
}
.csr-txt-wrap {
    max-width: 100%;
}
    .social-share {
    margin-top: 50px;
}
.benefit-sec-img {
        padding-right: unset;
        margin-bottom: 50px;
    }
    .single-detail-sec {
    padding: 50px 0px 0px 0px;
}

}
@media (max-width: 991px) and (min-width: 768px) { 
    .detail-shop-slider .col-md-6,
    .benefits-sec .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}
.case-gallery-inner .col-md-3 img {
        height: 205px;
    }
.case-gallery-inner .col-md-3:nth-of-type(4), .case-gallery-inner .col-md-3:nth-of-type(5) {
       top: -54%;
    }
        .case-gallery-inner, .case-gallery-inner .row {
        height: 449px;
    }

        .case-gallery-inner .col-md-3 {
       padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
        .case-gallery-inner .col-md-3:first-child img {
        height: 430px;
    }
.listing-item-sec .col-md-4 {
    flex: 0 0 50%;
    width: 50%;
}
.detail-features-sec .col-md-3 {
    flex: 0 0 50%;
    width: 50%;
}
.detail-fea-item {
    margin-bottom: 50px;
}
.benefit-item-wrap .col-md-6 {
    flex: 0 0 50%;
}
}
@media(max-width: 767px){

    .download-res-top {
        flex-direction: column;
        align-items: flex-start;
    }
    #inquireModal .modal-body {
        padding: 50px 30px;
    }
    #inquireModal input, #inquireModal select {
        margin-bottom: 30px;
    }
    .partner-logos-wrap {
        margin-top: 100px;
    }
    .faq-detail-sec {
        margin-bottom: 30px;
    }
    .faq-detail-sec .faq-desc {
        margin-bottom: 20px;
    }
    .pro-lifecycle-top {
        margin-bottom: 80px;
    }
    .partner-logos-top {
        width: 100%;
    }
    .lca-reports-inner .download-res-wrap {
        margin-top: 80px;
    }
    #lcareportslider .owl-nav {
        right: unset;
        left: 0px;
        top: -20%;
    }
    #partnerlogoslider .owl-nav {
        padding-left: var(--bs-gutter-x, .75rem);
        right: unset;
        left: 0px;
        top: -50%;
    }
    #lifecycleslider .owl-nav {
        right: unset;
        left: 0px;
        top: -10%;
    }
    .lca-reports-inner {
        padding-left: 30px;
        padding-right: 30px;
    }
    .lca-reports-inner .download-res-wrap {
        margin-top: 80px;
    }
    .esg-desc {
        width: 100%;
    }
    .csr-detail-img img {
        max-width: unset;
        width: 100%;
    }
    .csr-report-img img {
        min-height: 400px;
    }
    .sustain-reports-inner {
        padding-right: 30px;
        padding-left: 30px;
    }
    .caseslider-desc h3 {
        font-size: 20px;
    }
    .casedt-detail {
        margin-top: 40px;
    }
    .caseslider-wrap {
        margin-top: 100px;
    }
    #caseslider .owl-nav {
        right: unset;
        left: 0px;
        top: -14%;
    }
    .case-gallery-item {
        margin-bottom: 14px;
    }
    .case-desc-inner {
    padding-right: 30px;
        padding-left: 30px;
    }
    .case-high-txt h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .casestudy-gallery h1 {
        margin: 30px 0px 15px;
        font-size: 34px;
    }
    .csr-report-inner {
        padding-right: 30px;
        padding-left: 30px;
    }
    .sort-wrap select {
        margin-left: 10px;
    }
    .padding-top{
        padding-top: 50px;
    } 
    .padding-bottom{
        padding-bottom: 50px;
    }
    .bottom-space {
        margin-bottom: 50px;
    }
    .listing-slider-wrap {
        padding: 10px 0px 0px 0px !important;
    }
    .owl-item.active .pro-slider-img-wrap::after {
        display: none;
    }
    #similar-pro-slider button.owl-prev, #similar-pro-slider button.owl-next, 
    #caseslider button.owl-prev, #caseslider button.owl-next, 
    #lifecycleslider button.owl-prev, #lifecycleslider button.owl-next,
    .listing-slider-wrap .owl-nav button {
        width: 65px;
        height: 45px;
    }
    .listing-slider-wrap .owl-nav {
        /* padding-left: var(--bs-gutter-x, .75rem);
        right: unset;
        left: 0px;
        top: -23%; */
        padding-left: 0;
        right: 25% !important;
        left: 25%;
        top: unset;
        bottom: -20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listing-slider-wrap .owl-item.active {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pro-list-slider h1 {
        font-size: 40px;
    }
    .filter-wrap {
        flex-wrap: wrap;
    }
    .filter-wrap select {
    flex: 0 0 46%;
        margin-bottom: 18px;
    }
    .filter-wrap {
        margin-top: 20px;
    }
    .filter-sec .btn-default {
        margin-top: 30px;
    }
    .listing-top {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .listing-top .results {
        margin-bottom: 20px;
    }
    .filter-wrap select:nth-of-type(2)
    {
        margin-right: unset;
    }
    .listing-sec {
        padding: 50px 0px 50px;
        margin-bottom: 50px;
    }
    .detail-slider-wrap button.slick-arrow {
        display: none;
    }
    .benefit-item-wrap .col-md-6 {
        flex: 0 0 100%;
    }
    .benefit-item-wrap .col-md-6:nth-child(4n+1) .benefit-item::before, .benefit-item-wrap .row .col-md-6:nth-child(4n+3) .benefit-item::before{
        display: none;
    }
    .benefit-item-wrap .col-md-6:nth-child(4n+1) .benefit-item::after, .benefit-item-wrap .row .col-md-6:nth-child(4n+3) .benefit-item::after, .benefit-item-wrap .row .col-md-6:nth-child(4n+2) .benefit-item::after, .benefit-item-wrap .row .col-md-6:nth-child(4n+4) .benefit-item::after{
        display: none;
    }
    .download-res-inner {
        padding: 50px 30px 40px;
    }
    .support-sec.top-space {
        margin-top: 20px;
        padding: 50px 0px 30px;
    }
    .download-res-top h2 {
        margin-bottom: 20px;
    }
    .download-res-item {
        margin-bottom: 30px;
    }
    /* #similar-pro-slider .owl-nav {
        top: -55px;
    }  */
    #similar-pro-slider .owl-nav {
        top: unset;
        bottom: -35px;
        left: 25%;
        right: 25%;
    }
    .similar-pro-wrap {
        margin-top: 0px;
        margin-bottom: 55px;
    }
    .single-detail-sec h1 {
        font-size: 26px; 
    }
    .top-space {
        margin-top: 50px;
    }
    .default-sec h2,
        #inquireModal h2 {
        font-size: 34px;
    }
    .detail-fea-wrap {
        padding: 50px 30px;
    }
    .detail-fea-item {
        margin-bottom: 30px; 
    }
    .map-contact-inner {
        padding-right: 30px;
        padding-left: 30px;
    }
    .header-inn .row>* {
        width: 50%;
    }
    .btn-default {
        font-size: 16px;
        padding: 11px 20px;
    }

}
.feature-c-item-text span.m-p-label, .feature-c-item-text p, .csr-cmp-accordian-inn .accordion-item h2 button{
        font-family: Poppins!important;
}
.details-multiselect .accordion-item h2#proDetail button {
    font-family: 'PPNeueMontreal_Book';
}
div#accordionExample .accordion-button::after {
    background-image: url(https://sharp.nexatestwp.com/html_pages/assets/images/arrowb.svg);
}
.about-brand-txt .a-b-text {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.about-brand-txt .a-b-text p{
    margin-bottom: 0!important;
}