/* imran updated */
.sidebar {
  background: #fff;
}
.sidebar .nav .nav-item .nav-link .icon-bg .menu-icon {
  color: #0095ff;
}
.dashboardmain {
  /*  display: flex; */
}
.sidebar .nav-item ul {
  background-color: #fff;
  padding: 20px;
}
.menuinner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.menuright {
  background: #fff;
  padding: 00px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuinner ul.nav {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #292f4c;
}
.navbar .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #111111;

  width: calc(100% - 0px);
  height: 85px;
  background: #f9fbfd;
}

.bg-transparent {
  background-color: #fff !important;
}

a.more-read:hover {
  text-decoration: none;
}

.content-wrapper {
  background: #585859;
  padding: 2.875rem 2.875rem 0 2.875rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* new css asad */
nav.sidebarleft {
  position: fixed;
}
.rightcontent {
  padding-left: 50px;
}
.menuinner ul.nav {
  justify-content: flex-start;
  padding-top: 15px;
}
.menuinner ul.nav a.brand-logo {
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
}
.menuinner ul.nav li.nav-item {
  padding: 10px 0;
}
.dashboardmain .menuinner li.nav-item {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}
.dashboardmain .menuinner .nav-link {
  padding-top: 0px;
  padding-bottom: 0px;
}
.social-buttons i.fa.fa-twitter {
  padding-right: 6px;
}
.menuinner ul.nav li.nav-item {
  line-height: 1;
}
.menuright {
  width: 200px;
  background: #fff;
  width: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}
.menuright ul {
  width: 200px;
  padding: 80px 0px;
  transform: translateY(-10px);
}
.menuright ul li {
  padding: 0px 25px 10px 15px;
}
.menuright ul li:hover {
  background: #edf1f7;
}
nav.sidebarleft.full-sidebar .menuright ul li:hover {
  background: transparent;
}
.menuright ul li:hover a {
  color: #1995fc;
}
nav.sidebarleft.full-sidebar .menuright ul li:hover a {
  color: #1995fc;
}
.menuinner .nav-link.active span {
  display: block;
  /*padding: 10px;*/
}
.menuinner .nav-link.active {
  padding: 0.5rem 8px;
  background: #333b5d;
  border-radius: 6px;
}
.menuright .nav-link {
  display: block;
  padding: 0.5rem 8px;
}
.menuright ul li:hover a svg path {
  fill: #1995fc;
}
.menuright.side_menu_open {
  opacity: 1;

  visibility: visible;
  width: 200px;
}
.menuinner ul.nav {
  height: 65%;
}
.menuinner ul.nav.bottom_menu-sidebar {
  justify-content: flex-end;
  height: 35%;
}
.nav-link span.icon-bg {
  font-size: 0;
}
nav.sidebarleft.full-sidebar .nav-link span.icon-bg {
  font-size: 15px;
  color: #fff;
}
.menuright a {
  color: #8f9bb3;
  padding: 5px 0 0 0;
}
nav.sidebarleft.full-sidebar .menuright a {
  color: #fff;
}
nav.sidebarleft.full-sidebar .menuinner ul.nav {
  height: auto;
}
nav.sidebarleft.full-sidebar .menuright {
  width: 200px;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: initial;
  left: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  visibility: visible;
  padding: 0;
}
nav.sidebarleft.full-sidebar .menuright ul {
  padding: 25px 0px;
}
nav.sidebarleft.full-sidebar {
  overflow-y: scroll;
}
nav.sidebarleft.full-sidebar .menuinner ul.nav {
  align-items: flex-start;
}
nav.sidebarleft.full-sidebar .menuinner ul.nav {
  align-items: flex-start;
  padding: 15px 0px 15px 15px;
}
nav.sidebarleft.full-sidebar .nav-link {
  padding: 0;
}
nav.sidebarleft.full-sidebar::-webkit-scrollbar {
  width: 0px;
}

nav.sidebarleft.full-sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

nav.sidebarleft.full-sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

nav.sidebarleft.full-sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-link span.icon-bg path#_Icon_Сolor {
  fill: #a9acb7;
}
/* end new css asad*/

/*Qazi Css */
.nav-language-text p {
  font-size: 17px;
}
.cards-section .card-body.text-center img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    opacity: 1 !important;
    filter: brightness(0) saturate(100%) invert(15%) sepia(21%) saturate(252%) hue-rotate(55deg) brightness(90%) contrast(94%);
}
p.feature-heading {
    color: #7a2a90;
    font-weight: 500;
}
.salary-statistics a.reports-btns {
  background-color: #00c875;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  padding: 10px 20px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 14px;
}
.salary-statistics p.user-info {
  color: #8f9bb3;
  margin: 0px 0px;
  font-size: 13px;
  padding: 20px 25px;
  font-weight: 300;
}
.salary-statistics a.more-read {
  color: #0095ff;
  margin: 0px 0px;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
}
.main-area p.user-info-one {
  color: #222b45;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 400;
}
.navbar
  .navbar-menu-wrapper
  .navbar-nav
  .nav-item.dropdown
  .dropdown-toggle:after {
  color: #aab2bd;
  font-size: 1.25rem;
  content: "";
  background: url(../images/Icons-Line-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
/*End Qazi Css*/

/* New Code */

span.icon-bg.account-img img {
  width: 25px;
}
nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.d-flex.flex-row {
  width: 99%;
  float: right;
}
.analy-img {
  text-align: center;
  margin-top: 29px;
}
.analy-content {
  width: 60%;
  margin-inline: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.legend-box1 {
  background: #0057c2;
  width: 10px;
  position: absolute;
  height: 10px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: -18px;
}
.legend-box2 {
  background: #0095ff;
  width: 10px;
  position: absolute;
  height: 10px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: -18px;
}
.legend-box3 {
  background: #94cbff;
  width: 10px;
  position: absolute;
  height: 10px;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: -18px;
}
.analy-footer {
  text-align: center;

  padding-bottom: 2rem;
  width: 100%;
}
.analy-footer a {
  background-color: #00c875;
  width: 80%;
  height: 36px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  color: white;
  border-radius: 5px;
  font-family: "Roboto";
}
.analy-content li {
  padding: 5px 0;
}
i.fa.fa-handshake-o.menuIcon {
  font-size: 14px !important;
}
.nav i.fa.menuIcon {
  color: #fff;
  font-size: 16px;
}
.nav i.fa.menuIconSize {
  font-size: 14px;
}
.address_column {
  width: 200px;
}
.address_column p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 30px;
}
.remove-nowrap {
  white-space: unset !important;
}
.alert.alert-info.keys_quantity {
  padding: 5px;
  text-align: center;
  width: 74px;
  margin: 0px;
}
.keys_used {
  background: #ff001826 !important;
  border: #ff001826 !important;
}
span.assigned {
  width: 10px;
  height: 10px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  display: inline-block;
  background: #ff0000;
}

/* Media Query */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  ul.navbar-nav.navbar-nav-right li:last-child {
    padding-right: 11px;
  }

  ul.navbar-nav.navbar-nav-right li:nth-last-child(2) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1920px) {
  .card.recent-salary.salary-statistics .card890 {
    height: 515px;
  }
}
@media only screen and (min-width: 800px) {
  .table-cont890 tr th:first-child {
    padding-top: 38px !important;
  }
}

@media only screen and (max-width: 960px) {
  .col-lg-6.col-sm-12.one-box,
  .col-lg-3.col-sm-12.two-box {
    margin-right: 5px;
  }
  .analy-content {
    padding-left: 45px;
  }
}

@media only screen and (max-width: 800px) {
  .analy-content {
    padding-left: 35px;
  }
  .bar-boxsss {
    padding: 5px;
  }
  .d-flex.justify-content-between > span {
    font-size: 10px;
  }
  .d-flex.justify-content-between p {
    line-height: 1;
  }
}

@media only screen and (max-width: 736px) {
  .row.cards-section .col-sm-6 {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .col-lg-6.col-sm-12.one-box {
    max-width: 100%;
  }

  /* new update css */

  .rightcontent {
    padding-left: 50px;
    width: 100%;
  }
  .col-lg-3.col-sm-12.two-box {
    max-width: 49%;
    margin-top: 15px;
    margin: 0;
    margin-top: 10px;
  }

  .col-lg-3.col-sm-12.two-box.grothcol01 {
    margin-left: 2%;
  }
  .projectsumparent {
    overflow-x: scroll;
  }

  .employee-table-out-box {
    width: 95% !important;
    margin: 0 auto;
  }
  .container-fluid.page-body-wrapper.dashboardpage001 {
    padding: 0;
  }
  .navbar-menu-wrapper.d-flex.align-items-stretch.dashboardheadermenu {
    justify-content: space-between;
  }
  .analy-img img {
    width: 100%;
  }
  nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.d-flex.flex-row {
    float: none;
    margin-left: 7px !important;
  }
}
@media (max-width: 568px) {
  nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.d-flex.flex-row {
    float: none;
    margin-left: 7px !important;
  }
}

@media only screen and (max-width: 480px) {
  /* .row.cards-section .col-sm-6 {
        max-width: 29%;
        margin-bottom: 15px;
    }
    .col-lg-6.col-sm-12.one-box {
        max-width: 56%;
        display: block;
        margin-left: 9px;
    }
    .col-lg-3.col-sm-12.two-box {
        max-width: 27%;
        margin-top: 15px;
        margin-left: 8px;
    } */
  .col-lg-3.col-sm-12.two-box {
    max-width: 100%;
  }
  .salary-statistics p.user-info.meartxt {
    padding: 20px 10px !important;
    text-align: left;
  }
  nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.d-flex.flex-row {
    width: 100% !important;
    float: none;
    margin: 0 2%;
  }
  .year-main-box > select#inputGroupSelect01 {
    margin-left: 10px;
  }
  .navbar-menu-wrapper.d-flex.align-items-stretch.dashboardheadermenu {
    justify-content: center;
    width: 100%;
  }
  .dashboardwraper01 {
    padding-right: 20px !important;
  }
  .heading-onesss.mearparentrow {
    flex-direction: column;
  }
  .analy-footer {
    bottom: 15px;
  }
  .year-main-box > select#inputGroupSelect01 {
    padding: 5px 18px;
  }
}

@media (max-width: 375px) {
  footer.footer {
    padding: 10px;
  }
  .year-main-box {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
    padding-left: 5px;
  }
  a#messageDropdown {
    margin: 0 5px;
  }
  a#notificationDropdown {
    margin: 0 5px;
  }
  nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.d-flex.flex-row {
    width: 100% !important;
    float: none;
    margin: 0 3%;
  }
  footer.footer {
    padding: 8px;
  }
}

.navbar input {
  background-color: #fff !important;
  border: 2px solid #fff !important;
  font-family: "Roboto";
}
.navbar .form-control:focus,
.navbar .input-group .btn:focus,
.navbar select:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.navbar .input-group .btn:hover {
  transition: all 0.75s ease;
  opacity: 0.5;
}

.navbar .navbar-menu-wrapper .search-field .input-group {
  border: 1px solid #eff4fa;
}

.navbar select {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto";
}

.alink {
  color: #1995fc;
}
.opt:hover {
  transition: all 0.75s ease;
  opacity: 0.5;
}
a {
  text-decoration: none !important;
}

.menuright li a {
  display: flex;
  align-items: center;
  font-family: "Roboto";
}
.menuright li.active {
  border-right: 4px solid #0095ff;
}
.menuright li.active a {
  color: #1995fc;
}
.menuright li a svg {
  margin-right: 1rem;
}

.menuright li:hover {
  transition: all 0.25s ease;
  border-right: 4px solid #0095ff;
}
.rightcontent {
  transition: all 0.5s ease;
  background-color: #f9fbfd;
}

.sidebarleft.full-sidebar {
  transition: all 0.5s ease;
}

.menuinner ul {
  transition: all 1s ease;
}

.menuright.side_menu_open ul {
  animation-name: anime;
  animation-duration: 1s;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuright.side_menu_open li a i {
  margin-right: 1rem;
}
.cards-section .cards {
  cursor: pointer;
}
.cards-section .cards .card-body {
  padding: 16px 0px 25px 0px !important;
}

.card.recent-salary.salary-statistics {
  border: none;
}

.card.recent-salary.salary-statistics .card890 {
  background-color: #fff;
  margin-right: 15px;
  border: 2px solid #eff4fa;
  border-radius: 7px;
}
@media (max-width: 550px) {
  .graph890 {
    overflow-x: scroll;
  }
  .graph890 iframe {
    min-width: 550px;
  }
}
.graph890 iframe {
  width: 100%;
  height: 305px;
}
p {
  font-family: "Roboto" !important;
}
.btn-890 {
  font-family: "Roboto" !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
}

.card890 .progress {
  height: 0.5rem !important;
  margin-top: -0.5rem;
}

.card890 .analy-content ul {
  padding-left: 0.5rem !important;
}

@media (max-width: 991px) {
  .card.recent-salary.salary-statistics .card890 {
    margin-right: 0px;
    margin-top: 1rem;
  }
  .card890 .analy-content ul {
    max-width: max-content;
    margin-left: 50%;
    transform: translateX(-100%);
  }
}

.employee-table-out-box .card {
  border-radius: 0px;
}

.employee-table-out-box table td p {
  margin-bottom: 0px;
}

.employee-table-out-box .card {
  border: none !important;
}
.table-cont890 {
  border: 2px solid #eff4fa;
  border-radius: 7px;
}
.table-cont890 tr th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.table-cont890 tr td {
  border-bottom: 1px solid #eff4fa !important ;
  padding: 10px;
}

.table-cont890 tr th:first-child {
  margin-left: 22px;
  display: block;

  padding-top: 1.75rem;
}
.table-cont890 tr th:last-child {
  margin-right: 22px;
  display: block;
  padding-bottom: 1rem;
  padding-top: 1.75rem;
}
.table-cont890 tr td:first-child {
  margin-left: 22px;
  display: block;
  padding-bottom: 2rem;
  padding-top: 1.75rem;
}
.table-cont890 tr td:last-child {
  margin-right: 22px;
  display: block;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
}
.table-cont890 tr td {
  padding-bottom: 1.5rem;
  padding-top: 1.45rem;
}
.table-cont890 tr th {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.c890222 {
  color: #222b45;
}
.c89080 {
  color: #8f9bb3;
}
.employee-nav-890 ul.nav {
  align-items: center;
}

.rightcontent .pad890 {
  /*padding-left: 30px;
    padding-right: 30px;*/
}

.employee-nav-890 ul.nav li {
  margin-top: -0.09rem;
  margin-left: 0.25rem;
}

.bts89067 {
  margin-top: 10px;

  text-transform: capitalize;

  outline: none;
}

.fs13890 {
  font-size: 13px !important;
  margin-bottom: 0.5rem;
}

.bg890gray {
  background-color: #707070 !important;
}

.p4890 {
  padding: 1rem 1.9rem !important;
}

.bb890-2 {
  border: 2px solid #eff4fa !important;
}

.copyright-890 {
  font-size: 13px;
  font-weight: 400;
}
.emp-form-890 input,
.emp-form-890 textarea,
.emp-form-890 select {
  border: 1px solid #eff4fa;
  font-family: "Roboto" !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  border-radius: 5px !important;
  padding: 10px 20px !important;
}

.emp-form-890 .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.model90868 .modal-body {
  padding: 0 !important;
}

.model90868 {
  border: 2px solid #eff4fa;
  border-radius: 7px;
}
.model90868 tr th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.model90868 tr td {
  border-bottom: 1px solid #eff4fa !important ;
  padding: 10px;
}

.model90868 tr th:first-child {
  margin-left: 22px;
  display: block;

  padding-top: 1.75rem;
}
.model90868 tr th:last-child {
  margin-right: 22px;
  display: block;
  padding-bottom: 1rem;
  padding-top: 1.75rem;
}
.model90868 tr td:first-child {
  margin-left: 22px;
  display: block;
  padding-bottom: 2rem;
  padding-top: 1.75rem;
}
.model90868 tr td:last-child {
  margin-right: 22px;
  display: block;
  padding-bottom: 2rem;
  padding-top: 1.75rem;
}
.model90868 tr td {
  padding-bottom: 1.5rem;
  padding-top: 1.45rem;
}
.model90868 tr th {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.model90868 .formbtn1 {
  background-color: #0095ff !important;
  color: #fff !important;
  padding: 7px 20px !important;
}
.model90868 .formbtn2 {
  background-color: #eff4fa !important;
  color: #8f9bb3 !important;
  padding: 7px 20px !important;
}

.model90868 .modal-footer {
  margin-top: -1.04rem;
}

.main-employee-box .panel {
  margin-top: 20px;
}

.table-cont8901 {
  border: 2px solid #eff4fa;
  border-radius: 7px;
  margin: 10px 20px;
}
.table-cont8901 tr th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.table-cont8901 tr td {
  border-bottom: 1px solid #eff4fa !important ;
  padding: 10px;
}

.table-cont8901 tr th:first-child {
  margin-left: 22px;
  display: block;

  padding-top: 1.75rem;
}
.table-cont8901 tr th:last-child {
  margin-right: 22px;
  display: block;
  padding-bottom: 1rem;
  padding-top: 1.75rem;
}
.table-cont8901 tr td:first-child {
  margin-left: 22px;
  display: block;
}
.description {
  white-space: normal;
  /* min-width: 245px; */
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
td.text-left.descDiv {
  white-space: nowrap;
  max-width: 172px;
  overflow-y: hidden;
}
.table-cont8901 tr td:last-child {
  margin-right: 22px;
  display: block;
  padding-bottom: 1.79rem;
  padding-top: 1.75rem;
}
.table-cont8901 tr td {
  padding-bottom: 1.5rem;
  padding-top: 1.72rem;
}
.table-cont8901tr th {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.table-cont8901 .form-check {
  margin-bottom: 0rem;
  margin-top: 0.25rem;
}

.btn890-890-890 {
  color: #fff !important;
  margin: 0px 0px;
  margin-top: 0px;
  font-size: 14px !important;
  padding: 6px 25px !important;
  font-weight: 400 !important;
  font-family: "Roboto" !important;
  background-color: #00c875 !important;
}
.btnDivMarginLeft {
  margin-right: 26px;
}
.bootstrap-datetimepicker-widget {
  width: 450px !important;
}
.nav-tabs > li > a {
  color: #fff !important;
  border-radius: 2px 2px 0 0;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  padding: 10px 15px;
  position: relative;
  display: block;
  font-size: 12px;
}

/***************** New CSS for Menu 5-12-2023 *****************************/
nav.sidebarleft {
  width: 65px;
  position: fixed;
  height: 100vh;
  /* overflow: initial; */
  background: linear-gradient(to top, #585859, #25262c) !important;
}

.menuinner {
  overflow: scroll;
  padding: 0 !important;
  height: 103vh;
}

.menuinner::-webkit-scrollbar {
  width: 4px;
}

.menuinner::-webkit-scrollbar-track {
  background: #25262c;
}

.menuinner::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}

.menuinner::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.menuinner ul.nav {
  background: transparent !important;
  flex-wrap: nowrap;
}

a.navbar-brand.brand-logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.dashboardmain .sidebarleft a.brand-logo {
  padding-top: 0px !important;
  padding-bottom: 8px !important;
  margin-bottom: 15px !important;
  border-bottom: 1px solid #fff;
}

